* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    justify-content: center;
}

.container {
    border: 2px solid black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}

.navbar{
    display:flex;
    justify-content:  space-between;
    margin-bottom: 20px;
    width: 600px;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

h1 {
    margin-bottom: 8px;
    font-size:x-large;
    width: 100%;
}

.body-btn {
  background-color: rgb(25, 13, 68);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 12px;
}

.body-btn:hover {
  cursor: pointer;
  background-color: rgb(132, 74, 185);
}

.body-alldone {
  text-align: left;
  width: 90%;
  display: none;
  flex-direction: column;
}

.body-questions {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  display: none;
}

.body-questions button {
  max-width:120px;
}

.body-answer-status {
  border-top: 1.5px solid gray;
  margin-top: 20px;
  font-size: 17px;
  width: 90%;
  text-align: left;
  display: none;
}

.body-answer-status p {
  margin-top: 10px;
  font-style: italic;
  color: gray;
}

.body-highscore {
  display: none;
  flex-direction: column;
  text-align: left;
  width: 90%;
 
}

.body-highscore p {
  background-color: rgb(216, 202, 216);
  font-size: 12px;
  padding: 3px 2px;
}

    